
    .container {

       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       height: 100vh;
       padding: 2vh;
      
      }
      .h1mess{
          font-size: 2.3rem;
          margin-bottom: 0.3rem;
          color: #333;
      }
      .rummess{
        font-size:  1rem;
        display: flex;
        margin-bottom: 1rem;
        margin-right: 0.4rem;
      }
      .btn-1{
        
        font-size: 1rem;
        padding: 0.75rem 5.5rem ;
        border: none;
        border-radius:0.5rem ;
        cursor: pointer;
        background-color: #5b1deb;
        color: white;
        transition: background-color 3s ease;
        margin-left: 1rem;
        
        
      }
      .btn-1:hover {
        background-color: #94cd31;
      }
      .btn-2{
        font-size: 1rem;
        padding: 1rem 3.3rem ;
        border: none;
        border-radius:0.5rem ;
        cursor: pointer;
        background-color: #5b1deb;
        color: white;
        transition: background-color 3s ease;
        margin-left: 1rem;
        margin-top: 0.7rem;
       
      }
      .btn-2:hover{
        
        background-color: #cd3131;
      }
    #ram{
      height: 150px;;
    }